/*Body*/
body {
   padding: 0%;
   margin: 0%;

}

/*Body*/
/* Стили для Контейнера */
.conteiner {
   max-width: 1720px;
   margin: 0 auto;
}

/* Стили для Контейнера  */

/* Стилизирую  блок Header */

header {
   background-image: url(/assets/images/Background/header-bg-img.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;
   width: 100%;
}

.header__top {
   display: flex;
   padding: 74px 0 0 0;
}

.header__nav {}

.menu {}

.menu__list {
   display: flex;
   margin: 24px 250px 0 0;

}

.menu__list-item,
li {
   list-style-type: none;
   padding: 0 20px 0 0;

   &:last-child {
      padding-right: 0;
   }
}

.menu__list-link,
a {
   text-decoration: none;
}

.logo {
   text-align: center;
}

.logo__link {}

.logo__img {}

.personal {}

.personal__list {
   display: flex;
   padding: 0 136px 0px 341px;
}

.personal__list-item {
   padding: 0 47px 0 0;
}

.personal__list-link {}

.social {
   text-align: center;
}

.social__list {
   display: flex;
   text-align: center;

}

.social__list-item {
   margin: 0 11px 0 0;
   background-color: #fff;
   text-align: center;
   border-radius: 50%;
   -webkit-border-radius: ;
   -moz-border-radius: ;
   -ms-border-radius: ;
   -o-border-radius: ;
}

.social__list-link {
   width: 35px;
   height: 35px;
   line-height: 35px;

}

.social__list-img {
   position: relative;
   left: 52%;
   top: 3px;

}

.header__content {
   text-align: center;

}

.header__btn {
   width: 280px;
   height: 70px;
   border-radius: 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   -ms-border-radius: 40px;
   -o-border-radius: 40px;
   margin: 105px 0 0 0;
   background-color: #0aa566;
   font-size: 24px;
   font-family: "Myriad Pro";
   color: rgb(255, 255, 255);
   position: relative;
}

.header__btn:after {
   content: '';
   background-image: url(/assets/images/Background/Arrow.png);
   background-repeat: no-repeat;
   background-position: 1 0;
   width: 40px;
   height: 40px;
   position: absolute;
   top: 41%;
   left: 211px;

}

/* Стилизирую  блок Header */

/* Стилизирую блок smoothies*/
.smoothies {
   text-align: center;
}

.smoothies__title {
   padding: 100px 0 0px 0;
   color: #f7ae3b;
   font-size: 50px;
}

.smoothies__decription {
   padding: 60px 0 0 0;
   color: #1e1e1e;
   font-size: 18px;
   max-width: 920px;
   margin: 0 auto;
}

.features {
   padding: 95px 0 0 0;
   max-width: 980px;
   margin: 0 auto;
}

.features__items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0px -80px;
}

.features__item {
   padding: 0px 80px;
   margin: 50px 0 0 0;
}


.features__item-text {
   padding: 35px 0 0 0;
}

/* Стилизирую блок smoothies*/
/* Стилизирую блок about*/
/* Стилизирую блок about*/