header {
   background-image: url(/assets/images/Background/header-bg-img.jpg);
   background-repeat: no-repeat;
   background-position: center;
   width: 1920px;
   height: 100vh;
   margin: 0px;
   padding: 0px;
}

.conteiner {
   width: 1180px;
   margin: 0 auto;
}

.header-top {
   padding: 10px 0 0 0;
   display: flex;
   justify-content: space-between;
}

.header-top__list {
   display: flex;

}

.header-top__list li {
   padding: 0 10px 0 0;
}

.logo {}

.logo__link {}

.logo__link-image {}

.personal {}

.personal__list {
   display: flex;
}

.personal__list li {
   padding: 0 10px 0 0;
}

.line {}

.social {}

.social__list {
   display: flex;
}

.social__list li {
   padding: 0 10px 0 0;
}

.header-content {
   text-align: center;
   padding: 60px 0 0 0;
}

.smoothies__title {}

.smoothies__decription {}

.features {}

.features__items {
   display: flex;
}

.features__item {}

.features__item-img {}

.features__item-text {}


section.about {
   background-color: #12816b;
   display: flex;
}

.products {}

.products__items {
   display: flex;
}

.products__item {}

.products__item-image {}

.products__item-title {}

.products__item-mesure {}

.products__item-button {}


.story {
   display: flex;
}

.story__description {}

.story__description-title {}

.story__description-article {}

.story__description-button {}

.story__images {}

.testimonials {
   background-color: #673118;
}

.testimonials__title {}

.testimonials__title-name {}

.testimonials__inner {
   display: flex;
}

.testimonials__comment {}

.testimonials__comment-article {}

.testimonials__comment-author {}

.testimonials__image {}

.arrows {}


.blog {}

.blog__title {}

.blog__inner {
   display: flex;
}

.blog__image {}

.blog__description {}

.blog__description-title {}




.instagram {}

.instagram__user {}

.instagram__user-link {}

.instagram__image-items {
   display: flex;
}

.instagram__image-item {}

.instagram__image {}

.instagram__image-icon {}

footer {
   background-color: rgba(68, 207, 121, 0.562);
   font-size: 14px;
   line-height: 22px;
   color: blue;
}