// main: ./../main.less
.about {
   justify-content: center;
   position: relative;
   background-color: #13876c;

   &__body {
      display: flex;
      padding: 70px 0 0 0;

      @media (max-width: 1565px) {
         padding: 30px 0 0 0;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }

   &__image-wrap {
      flex: 0 1 50%;
      position: relative;
   }

   &__image {
      max-width: 691px;
      max-height: 818px;
      position: absolute;
      top: 27px;
      right: 52px;


      @media (max-width: 1565px) {
         position: static;
         max-width: 612px;
         max-height: 640px;
         top: 106px;
         right: 33px;
      }

      @media (max-width: 767px) {
         height: 520px;
      }

      @media (max-width: 510px) {
         height: 360px;
      }

      @media (max-width: 320px) {
         height: 250px;
      }
   }

   &__description {
      flex: 0 1 50%;
      padding: 0px 0 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media screen and (max-width:400px) {
         padding: 0;
      }
   }

   &__title {
      width: 614px;
      color: #ffffff;
      font-family: 'Muli-ExtraBold';
      font-size: 50px;

      @media (max-width: 1027px) {
         margin-top: 20px;
         width: 550px;
         color: #ffffff;
         font-family: 'Muli-ExtraBold';
         font-size: 45px;
      }

      @media (max-width: 767px) {
         width: 450px;
         font-size: 36px;
      }

      @media (max-width: 510px) {
         width: 362px;
         font-size: 30px;
      }

      @media (max-width: 365px) {
         margin: 19px auto 0;

         width: 286px;
         font-size: 25px;
      }
   }

   &__description-mark {
      color: #9cca51;

      &::after {
         content: " ";
         width: 450px;
         height: 15px;
         display: block;
         background: url(/assets/images/About/icons/Line.png) no-repeat;

         @media (max-width: 767px) {
            width: 397px;
         }

         @media (max-width: 767px) {
            width: 275px;
         }

         @media (max-width: 365px) {
            width: 235px;
         }
      }
   }

   &__list {
      margin: 75px 0 0 0;
      font-size: 21px;
      color: rgb(255, 255, 255);
      position: relative;
      font-family: 'Muli-ExtraBold';
      line-height: 22px;

      @media (max-width: 1027px) {
         margin: 40px 0 0 7px;
         font-size: 26px;
         line-height: 15px;
      }

      @media (max-width: 767px) {
         margin: 30px 0 0 0;
         position: relative;
         line-height: 10px;
         font-size: 20px;
      }

      @media (max-width: 465px) {
         margin: 21px 24px 9px 40px;
         line-height: 6px;
         font-size: 13px;
      }

      @media (max-width: 365px) {
         margin: 21px 24px 9px 40px;
         line-height: 6px;
         font-size: 11px;
      }

   }

   &__list-item {
      margin: 0 0 30px 0;

      &:last-child {
         margin: 0;
      }

      &:before {
         content: '';
         width: 60px;
         height: 60px;
         background: url(/assets/images/About/icons/item.png) no-repeat;
         display: inline-block;
         position: absolute;
         left: -34px;

         @media (max-width: 465px) {}
      }
   }

   &__btn {
      margin: 50px 0 94px 10px;
      width: 380px;
      height: 60px;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      position: relative;
      border: 3px solid rgb(248, 178, 49);
      line-height: 51px;
      font-family: 'Muli-ExtraBold';
      font-size: 21px;

      @media (max-width: 1027px) {
         margin: 45px 0 45px 10px;
      }

      @media (max-width:530px) {
         width: 313px;
         height: 56px;
         font-size: 17px;
         margin: 21px 0 10px 0px;
      }

      @media (max-width:370px) {
         width: 313px;
         height: 56px;
         font-size: 17px;
         margin: 21px 30px 10px -23px;
      }


      &::after {
         content: " ";
         width: 60px;
         height: 60px;
         background: url(/assets/images/About/icons/Arrow.png) no-repeat;
         display: inline-block;
         position: absolute;
         top: 17px;
         right: -15px;
      }
   }
}