// main: ./../main.less
.features {
   padding: 88px 0 0 0;
   margin-bottom: 170px;

   @media (max-width: 1027px) {
      padding: 20px 0 0 0;
      margin-bottom: 100px;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(4, 250px);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      row-gap: 40px;
      column-gap: 10px;

      @media (max-width: 1027px) {
         grid-template-columns: repeat(3, 229.33px);
         grid-template-rows: repeat(3, 1fr);
         justify-content: center;
         align-items: center;
         row-gap: 12px;
         column-gap: 0px;
      }

      @media (max-width: 740px) {
         grid-template-columns: repeat(3, 160.33px);
      }

      @media (max-width: 600px) {
         grid-template-columns: repeat(2, 187.33px);
      }

      @media (max-width: 430px) {
         grid-template-columns: repeat(2, 174.33px);

      }

      @media (max-width: 320px) {
         grid-template-columns: repeat(2, 131.33px);

      }
   }

   &__item {
      align-self: flex-end;
   }

   &__item-text {
      color: #f2612d;
      font-size: 25px;
      font-family: 'Muli-ExtraBold';
      margin: 31px 0 0 0;

      @media (max-width: 1027px) {
         font-size: 20px;
         margin: 20px 0 0 0;
      }
   }
}