// main: ./../main.less
@font-face {
   font-family: 'Muli';
   src: url('../assets/fonts/Muli.woff') format('woff');
   font-weight: 700;
}

@font-face {
   font-family: 'Muli';
   src: url('../assets/fonts/Muli.eot');
   src: local('☺'), url('../assets/fonts/Muli-ExtraBold.woff') format('woff');
   font-weight: 800;
}

@font-face {
   font-family: 'Muli';
   src: url('../assets/fonts/Muli.eot');
   src: local('☺'), url('../assets/fonts/Muli-Regular.woff') format('woff');
   font-weight: 400;
}