// main: ./../main.less
.information {
   &__title {
      font-family: 'Muli-ExtraBold';
      font-size: 26px;
      letter-spacing: -0, 52;
      padding-bottom: 40px;
      color: #fff;
   }

   &__list {
      font-family: 'Muli-Bold';
      font-size: 18px;
      line-height: 35px;
      color: #6d450c;
   }

   &__list-item {
      padding-bottom: 10px;

      &:last-child {
         padding-bottom: 0px;
      }
   }

   &__list-link {
      font-size: 18px;
      line-height: 35px;
      color: #6d450c;
   }


}