// main: ./../main.less

.instagram {
   text-align: center;
   margin-bottom: 10px;

   &__user-link {
      margin-bottom: 45px;

      font-family: 'Muli-ExtraBold';
      font-size: 24px;
      line-height: 40px;

      color: #7dc5a1;

      position: relative;

      transition: all 0.3s;
   }

   &__user-logo::before {
      content: " ";

      width: 60px;
      height: 60px;

      position: absolute;
      top: 1px;
      left: -38px;

      background: url(../assets/images/instagram/icon.png) no-repeat;
   }

   &__image-items {
      margin: 45px auto 0;

      display: flex;

      @media (max-width: 1620px) {
         max-width: 775px;

         display: flex;
         flex-wrap: wrap;

      }
   }

   &__image-item {

      flex: 1 1 25%;

      text-align: center;

      position: relative;

      @media (max-width: 1620px) {
         flex: 1 1 50%;
      }

      @media (max-width: 767px) {
         flex: 0 1 100%;
      }


      &::after {
         content: "  ";

         width: 60px;
         height: 60px;

         background: url(../assets/images/instagram/icon-white.png) no-repeat;

         position: absolute;
         bottom: -13px;
         right: -11px;
         z-index: 2;
      }
   }

   &__image {
      display: inline-block;

      width: 100%;

      position: relative;

   }
}