// main: ./../main.less
.subscription {

   @media(max-width:420px) {
      padding: 0;
      margin: 0 auto;
      text-align: center;
   }


   &__title {
      font-family: 'Muli-ExtraBold';
      font-size: 26px;
      line-height: 35px;
      letter-spacing: -0, 52;
      padding-bottom: 35px;
      color: rgb(255, 255, 255);

      @media(max-width:850px) {
         margin-top: 20px;
         margin-bottom: 10px;

         padding: 0;

         font-size: 26px;

         text-align: center;
      }

      @media(max-width:420px) {
         margin-top: 30px;
      }
   }

   .input-wrap {
      position: relative;
   }

   &__input {
      width: 495px;
      height: 61px;
      font-family: 'Muli-Bold';
      font-size: 17px;
      line-height: 35px;
      letter-spacing: -0.34px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      padding: 5px 46px 3px 59px;
      height: 60px;
      border-radius: 40px;
      border-style: none;
      outline: 0;


      @media(max-width:1027px) {
         width: 430px;
         height: 61px;
      }

      @media(max-width:540px) {
         width: 320px;
      }

      @media(max-width:400px) {
         width: 280px;
      }
   }


   &__input-icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);

      ::-webkit-input-placeholder {
         color: #6d450c;
         font-size: 20px;
      }

      ::-moz-placeholder {
         color: #6d450c;
         font-size: 17px;
      }

      /* Firefox 19+ */
      :-moz-placeholder {
         color: #6d450c;
         font-size: 17px;
      }

      /* Firefox 18- */
      :-ms-input-placeholder {
         color: #6d450c;
         font-size: 17px;
      }
   }

}