// main: ./../main.less
.subscription {
   @media(max-width:1027px) {
      padding: 10px 0px 0px 25px;
   }

   &__title {
      font-family: 'Muli-ExtraBold';
      font-size: 26px;
      line-height: 35px;
      letter-spacing: -0, 52;
      padding-bottom: 35px;
      color: rgb(255, 255, 255);

      @media(max-width:1027px) {
         font-family: 'Muli-ExtraBold';
         font-size: 26px;
         line-height: 35px;
         letter-spacing: -0, 52;
         padding: 20px 0 17px 0;
         color: rgb(255, 255, 255);
      }
   }

   &__input {
      width: 495px;
      height: 61px;
      font-family: 'Muli-Bold';
      font-size: 17px;
      line-height: 35px;
      letter-spacing: -0.34px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      padding: 5px 46px 3px 59px;
      height: 60px;
      border-radius: 40px;
      border-style: none;

      @media(max-width:1027px) {
         width: 430px;
         height: 61px;
         font-family: 'Muli-Bold';
         font-size: 17px;
         line-height: 35px;
         letter-spacing: -0.34px;
         -webkit-border-radius: 40px;
         -moz-border-radius: 40px;
         -ms-border-radius: 40px;
         -o-border-radius: 40px;
         padding: 5px 46px 3px 59px;
         height: 60px;
         border-radius: 40px;
         border-style: none;
      }
   }

   &__input-icon {
      position: relative;
      top: 3px;
      left: -470px;

      @media(max-width:1027px) {
         left: 0%;
      }

      ::-webkit-input-placeholder {
         color: #6d450c;
         font-size: 20px;
      }

      ::-moz-placeholder {
         color: #6d450c;
         font-size: 17px;
      }

      /* Firefox 19+ */
      :-moz-placeholder {
         color: #6d450c;
         font-size: 17px;
      }

      /* Firefox 18- */
      :-ms-input-placeholder {
         color: #6d450c;
         font-size: 17px;
      }
   }
}