// main: ./../main.less
.testimonials {
   background-color: #682c19;
   text-align: center;

   .testimonials__title {
      padding-top: 117px;
      font-size: 50px;
      color: #f7ae3b;
      font-family: 'Muli-ExtraBold';
      line-height: 40px;

      @media (max-width: 1027px) {
         padding-top: 50px;
         font-size: 43px;
         line-height: 0px;
      }
   }

   .testimonials__title-word {
      font-size: 50px;
      color: #f2612d;

      @media (max-width: 1027px) {
         font-size: 50px;
      }
   }

   .testimonials__slider {
      position: relative;
      padding: 0px 60px;
      min-width: 0;
   }

   .testimonials__image {
      display: inline-block;
      position: relative;
      z-index: 21;
      width: 100%;
   }
}